<md-content class="md-padding content-bg" flex>
    <md-card>
        <md-card-content>
            <h2 class="md-title" translate="views.home.title"></h2>
    <p>
        {{ 'views.home.text' | translate }} 
        <a href="https://material.angularjs.org" target="_blank"  translate="views.home.angularMaterial"></a> 
        {{ 'views.home.website' | translate }}
    </p>
    
    <p translate="views.home.lastVisit" translate-values='{ lastVisitDate: lastVisitDate }'></p>
        </md-card-content>
    </md-card>
</md-content>