$color-primary-500: #1fb6ab;
$color-accent-500: #f4b541;
$color-warn-500: #ff6e61;

// background pallete
$color-background-100: #f5f6f8;
$color-background-600: #677b96;
$color-background-800: #414e5e;
$color-background-900: #272f39;

// others
$custom-color: #A48AD4;

// tabs
$color-black: #313b3d;
$color-black-opacity: rgba(49, 59, 61, 0.05);
$color-blue: #32a9c6;
$ripple-blue: #81a7b0;

// links
$link-color: #12A1D5;
$link-color-dark: darken($link-color, 10%);