.md-sidenav-backdrop.md-opaque.md-default-theme {
    display: none; //important: when the sidenav is open we still want to unable the user to work
}

.#{$app-css-prefix}-navbar {
    margin: 10px 0;
    @include border-radius($border-radius);
    background-color: $color-background-900;
    position: relative !important; //push the content right when open, instead of floating above it
}

.#{$app-css-prefix}-navbar-header {
    background: url('#{$images-path}logo.png') no-repeat 26px center $color-background-800;
    color: $color-background-600;
    font-size: $font-size-xlarge;
    text-transform: uppercase;
    padding-left: 67px;
}

.#{$app-css-prefix}-navbar-body{
    padding: 16px;
}

.#{$app-css-prefix}-navbar-body .md-button{
    text-decoration: none !important;
    width: 100%;
    text-align: left;
    margin-bottom: 1px;
    line-height: 32px;
}

.#{$app-css-prefix}-navbar-body .md-button.md-default-theme {
    color: rgba(255, 255, 255, 0.3);
}
.#{$app-css-prefix}-navbar-body .md-button.md-default-theme.active {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(89, 104, 121, 0.35);
}

.#{$app-css-prefix}-navbar-item-icon{
    font-size: $font-size-large;
}

.#{$app-css-prefix}-navbar-item-text{
    padding-left: 10px;
    font-size: $font-size-xnormal;
    font-weight: 100;
    text-transform: none;
    vertical-align: bottom;
}