.#{$app-css-prefix}-panel {
   @include border-radius($border-radius);
   background-color: #fff;
}

.#{$app-css-prefix}-panel-header {
    border-bottom: $border;
    font-size: 1.3em;
    padding: 45px 16px 6px;
    color: $title-color;
}

.#{$app-css-prefix}-panel-title{
    font-weight: $font-weight-medium;
    line-height: 32px;
}

.#{$app-css-prefix}-panel-controls {
    float: right;
    display: block;
    cursor: pointer;
}

.#{$app-css-prefix}-panel-controls > a {
    padding-top: 1px;
    width: 18px;
    color: $title-color;
    font-weight: $font-weight;
    text-align: center;
    text-decoration: none;
}

.#{$app-css-prefix}-panel-body{
    padding: 6px $padding-small 0;
}