md-tabs .md-header .md-ripple {
    border-color: $color-grey-400 !important; //color of ripple effect
}

md-tabs-ink-bar {
    background-color: $color-primary-500 !important; //bottom border line
    color: $color-primary-500 !important; //color of ripple effect
}

.tabs-wrapper .tabpanel-container {
    display: block;
    position: relative;
    border: 0px solid black;
    height: 300px;
    overflow: hidden; 
}
.tabs-wrapper .tabpanel-container [role="tabpanel"] {
    padding: $padding-small; 
}
.tabs-wrapper [role="tabpanel"] {
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute; 
}
.tabs-wrapper [role="tabpanel"].ng-leave.ng-leave-active, 
.tabs-wrapper [role="tabpanel"].ng-enter {
    top: -300px; 
}
.tabs-wrapper [role="tabpanel"].ng-leave, 
.tabs-wrapper [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0; 
}
.tabs-wrapper [role="tabpanel"].ng-leave {
    z-index: 100; 
}