.fkjs-navbar{
    width: $navbar-width;
    height: 100%;
    float: left;
    background-color: #fff;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.38);
}

.fkjs-navbar-header {
    margin: 0;
    padding: 32px 34px 13px $padding-small;
    color: $title-color;
    font-size: $font-size-xlarge;
    text-transform: uppercase;
    line-height: 29px;
    border-bottom: 1px solid $color-grey-200;
    white-space: nowrap;
    overflow: hidden;
}

.fkjs-navbar-body{
    padding: $padding-small;
}

.fkjs-navbar-body >ul{
    margin: 0;
    padding: 0;
}

.fkjs-navbar-body >ul >li{
    list-style: none;
}

.fkjs-navbar-item-text{
    display: block;
    line-height: 32px;
    padding: 6px;
    @include border-radius($border-radius);
    margin-bottom: 1px;
}

.fkjs-navbar-item-text:hover,
.fkjs-navbar-item-text.active{
    background-color: $link-background;
}