<fkjs-header></fkjs-header>

<md-content layout="column" class="md-padding">
    <div layout="row" layout-margin>

        <div class="md-whiteframe-z1 {{cssPrefix}}-panel" flex="25">

            <div class="{{cssPrefix}}-panel-header">
                <span class="{{cssPrefix}}-panel-title">About Demo App</span>
                <span class="{{cssPrefix}}-panel-controls">
                    <a href="javascript:void(0);"></a>
                </span>
            </div>

            <md-content class="md-padding simple-bg">
                <p>
                    This  sample app demonstrates the use of <a href="https://angularjs.org/" target="_blank">AngularJS</a> as a framework for creating a simple web application,
                    and can be used as a template to start and build your own application.
                </p>
                <p>
                    The theme mechanism, and all the reusable UI components in this application, is part of the Material Design project for AngularJs. 
                    Further information and demos can be found here: <a href="https://material.angularjs.org" target="_blank">Angular Material</a>
                </p>
            </md-content>
        </div>
    </div>
</md-content>