<page>
    <h2 translate="views.home.title"></h2>
    
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                <span translate="views.home.text"></span>
                <a href="http://getbootstrap.com/components/" target="_blank" translate="views.home.bootstrap"></a>
                <span translate="views.home.website"></span>
            </p>
            <p>
                <span class="glyphicon glyphicon-user"></span>
                <span translate="views.home.lastVisit" translate-values="{ lastVisitDate: lastVisitDate }"></span>
            </p>
        </div>
    </div>
</page>