// shades
$color-grey-200: rgba(0, 0, 0, 0.08);
$color-grey-300: rgba(0, 0, 0, 0.12);
$color-grey-400: rgba(0, 0, 0, 0.54);

// background
$color-background-100: #f5f6f8;
$color-background-header: rgba(226, 227, 229, 0.68);
$link-background: #ececec;

// fonts
$title-color: #828a95;

// links
$link-color: #12A1D5;
$link-color-dark: darken($link-color, 10%);