// gray scale
$color-grey-200: rgba(0, 0, 0, 0.08);
$color-grey-300: rgba(0, 0, 0, 0.12);
$color-grey-400: rgba(0, 0, 0, 0.54);

// background
$background-color: #f5f6f8;
$background-header-color: rgba(226, 227, 229, 0.68);
$background-item: #ececec;

// fonts
$title-color: #828a95;

// links
$link-color: #12A1D5;