// fonts
$font-size-small: 0.5em;
$font-size-normal: 1em;
$font-size-large: 1.5em;
$font-size-xlarge: 2em;
$font-weight: 400;

// padding
$padding-large: 20px;
$padding-small: 16px;

// border
$border-radius: 3px;
$border-color: $color-grey-200;
$border-width: 1px;
$border-style: solid;
$border: $border-width $border-style $border-color;

// common
$navbar-width: 304px;