.fkjs-page-header {
    padding: 32px 34px 13px $padding-small;
    border-bottom: 1px solid $color-grey-300;
}

.fkjs-page-header-text {
    font-size: 1.2;
    color: $title-color;
    text-transform: uppercase;
    line-height: 29px;
}