<!DOCTYPE html>
<!-- build:template
<%%= html_tag %>
/build -->
<!-- build:remove -->
<html>
<!-- /build -->

    <head>
        <title>fkjs_(title)</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="fkjs_(description)">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/ico" href="assets/images/favicon.ico">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto">

        <!-- build:css assets/css/app.min.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <link rel="stylesheet" type="text/css" href="assets/css/app.css" media="screen">
        <!-- /build -->
        <!-- build:js app.min.js -->
        <!-- <script src="//localhost:35729/livereload.js"></script> -->
        <!-- bower:js -->
        <!-- endbower -->
        <script src="app.js"></script>
        <!-- /build -->
    </head>

    <body ng-controller="MainController">
        <fkjs-navbar></fkjs-navbar>
        <section>
            <fkjs-header></fkjs-header>
            <div class="content-bg" ui-view></div>
        </section>
    </body>
</html>