<md-content class="md-padding fkjs-content-bg" flex>
    
    <md-toolbar class="demo-toolbar md-primary md-default-theme fkjs-rounded-corners">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">{{ 'views.page2.listTitle' | translate }}</h3>
        </div>
    </md-toolbar>
    
        <md-list>
            <md-list-item ng-repeat="item in list">
                <p> {{ item.name }} </p>
                <md-checkbox class="md-secondary" ng-model="item.selected"></md-checkbox>
            </md-list-item>
        <md-divider></md-divider>
        </md-list>
    
</md-content>