<md-content class="md-padding content-bg" flex>
    <h2 translate="views.page2.title"></h2>
    
    <div>
        <md-list>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">{{ 'views.page2.listTitle' | translate }}</md-subheader>
            <md-list-item ng-repeat="item in list">
                <p> {{ item.name }} </p>
                <md-checkbox class="md-secondary" ng-model="item.selected"></md-checkbox>
            </md-list-item>
        </md-list>
    </div>
</md-content>