.fkjs-navbar{
    @include transition(all, .1s, linear);
    background-color: #fff;
    margin: 0;
}

.fkjs-navbar-header {
    float: none;
    padding-top: 26px;
    padding-bottom: 13px;
    border-bottom: 1px solid $color-grey-200;
}

.fkjs-navbar-appname{
    padding-top: 0;
    padding-bottom: 0;
    color: $title-color;
    font-size: $font-size-xlarge;
    text-transform: uppercase;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
}

.fkjs-navbar-body{
    padding-top: $padding-small;
    background-color: #fff;
}

.fkjs-navbar-body >ul{
    margin: 0;
    padding: 0;
}

.fkjs-navbar-body >ul >li{
    list-style: none;
}

.fkjs-navbar-item-text{
    display: block;
    line-height: 32px;
    padding: 6px;
    @include border-radius($border-radius);
    margin-bottom: 1px;
}

.fkjs-navbar-item-text:hover,
.fkjs-navbar-item-text.active{
    background-color: $background-item;
}

@media (min-width: 0px) and (max-width: 767px) {
    .fkjs-navbar-header {
        border-bottom: 0 none;
    }
    
    .fkjs-navbar-body{
        padding-top: 0;
    }
}

@media(min-width:768px){
    .fkjs-navbar{
        width: $navbar-width;
        height: 100%;
        float: left;
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.38);
        @include border-radius(0);
    }
}